body {
    margin: 0;
    overflow-y: hidden;
}

/* for react-split */
.gutter {
    position: relative;
}
.gutter-horizontal {
    cursor: col-resize;
    left: -5px;
}

.gutter-vertical {
    cursor: row-resize;
    top: -5px;
}