body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* for react-split */
.gutter {
    position: relative;
}
.gutter-horizontal {
    cursor: col-resize;
}

.gutter-vertical {
    cursor: row-resize;
}